h1{
  font-family: 'SEGA LOGO FONT';
  color: #0ccac4;
}

.f2{
  margin-top: 20px;
  text-decoration: underline;
}
  
.siz{
  margin-top: 20px;
  border-color: #0ccac4;
  border-radius: 25px;
  font-size: 30px;
  padding: 10px;
  margin-bottom: 30px;
  transition: 1s all;
}

.siz:hover{
  transform: scale(1.1);
  cursor: grab;
}
